.material-icons {
    width: 1em;
    height: 1em;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: 'liga';
    speak: none;
    text-rendering: auto;
    /* Better Font Rendering =========== */
    transform: translate(0, 0);

    &:before {
        display: inline-block;
        speak: none;
        text-decoration: inherit;
    }

    &.pull-left {
        margin-right: .3em;
    }

    &.pull-right {
        margin-left: .3em;
    }
}
