/*----------------------------------------
    footer charts
------------------------------------------*/

footer{
    width:100%;
    position:fixed;
    bottom:0;
    z-index:9999;
}
.page-footer .container {
	padding: 0 15px;
}
#world-map-markers {
	height: 300px;
}
#polar-chart-holder {
	padding-top: 20px;
}