@model ParkingATHWeb.Areas.Portal.ViewModels.Account.ForgotPasswordViewModel
<form asp-action="ForgotPassword" asp-controller="Account" asp-antiforgery="true" id="forgot-form">
    <div asp-validation-summary="ValidationSummary.ModelOnly"></div>
    <div class="row">
        <div class="col s12">
            <div class="input-field">
                <input type="text" asp-for="Email" />
                <label asp-for="Email"></label>
                <span asp-validation-for="Email"></span>
            </div>
        </div>
    </div>
    <br />
    <div class="row right-align margin-top-25">
        <div class="col s12">
            <a href="#" id="moveRegister2" class="smart-blue smart-move-btn"><b>ZAREJESTRUJ</b></a>
            <a href="#" id="moveLogin2" class="smart-blue smart-move-btn"><b>ZALOGUJ</b></a>
            <button class="btn waves-effect waves-light smart-blue-bg smart-form-btn" data-form-id="forgot-form">
                <b>Przypomnij hasło</b>
                <i class="material-icons right">send</i>
            </button>
        </div>
    </div>
    <div class="preloader-wrapper medium active valign" style="margin:auto">
        <div class="spinner-layer spinner-blue">
            <div class="circle-clipper left">
                <div class="circle"></div>
            </div><div class="gap-patch">
                <div class="circle"></div>
            </div><div class="circle-clipper right">
                <div class="circle"></div>
            </div>
        </div>

        <div class="spinner-layer spinner-red">
            <div class="circle-clipper left">
                <div class="circle"></div>
            </div><div class="gap-patch">
                <div class="circle"></div>
            </div><div class="circle-clipper right">
                <div class="circle"></div>
            </div>
        </div>

        <div class="spinner-layer spinner-yellow">
            <div class="circle-clipper left">
                <div class="circle"></div>
            </div><div class="gap-patch">
                <div class="circle"></div>
            </div><div class="circle-clipper right">
                <div class="circle"></div>
            </div>
        </div>

        <div class="spinner-layer spinner-green">
            <div class="circle-clipper left">
                <div class="circle"></div>
            </div><div class="gap-patch">
                <div class="circle"></div>
            </div><div class="circle-clipper right">
                <div class="circle"></div>
            </div>
        </div>
    </div>
</form>