@model ParkingATHWeb.Areas.Portal.ViewModels.Account.ForgotPasswordViewModel
@{
    ViewData["Title"] = "Odzyskiwanie hasła";
}

<div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
        <h2>Podaj proszę adres email należący do Twojego konta, wyślemy na niego dalsze instrukcje potrzebne do zresetowania hasła.</h2>
        <form asp-action="Forgot" asp-controller="Account" asp-antiforgery="true">
            <div asp-validation-summary="ValidationSummary.ModelOnly"></div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input type="text" asp-for="Email" class="form-control" />
                <span asp-validation-for="Email"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Wyślij" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>