<div id="mail-app" class="section margin-bottom-50">
    <div class="row">
        <div class="col s12">
            <nav class="smart-blue-bg">
                    <div class="left col s12 m5 l5">
                        <ul style="width: 100%;display: block">
                            <li style="width:80%">
                                <div class="header-search-wrapper">
                                    <i class="material-icons">search</i>
                                    <input type="text" name="Search" class="header-search-input z-depth-2" placeholder="Wyszukaj.. (np. wpisz datę)" />
                                </div>
                            </li>
                        </ul>
                </div>
            </nav>
        </div>
        <div class="col s12">
            <card-loader style="background: white" loadname="getMessagesLoader"></card-loader>
            <div id="email-list" class="col s12 m5 l5 card-panel z-depth-1">
                <div ng-if="msgCtrl.lastMessagesListModel.length == 0"  class="scroll-wrapper">
                    <h4 class="center-align flex-align-center-container" style="height: 100%;margin:0">Nie rozpocząłeś dotychczas żadnej konwersacji.</h4>
                </div>
                <ul class="collection" ng-if="msgCtrl.lastMessagesListModel.length != 0">
                    <li ng-repeat="message in msgCtrl.lastMessagesListModel" class="collection-item avatar email-unread" ng-class="{'selected':msgCtrl.selectedMessageModel.selectedClusterIndex === $index}" ng-click="msgCtrl.toggleMessage($index)">
                        <img ng-src="{{message.imgPath}}" alt="avatar" class="circle">
                        <span class="email-title">{{message.title}}</span>
                        <p class="truncate grey-text ultra-small">{{message.text}}</p>
                        <a class="secondary-content email-time"><span class="blue-text ultra-small">{{message.createDate}}</span></a>
                    </li>
                </ul>
            </div>
            <div id="email-details" class="col s12 m7 l7 card-panel">
                <div ng-if="!msgCtrl.selectedMessageModel.isSelected" class="scroll-wrapper">
                    <h4 class="center-align flex-align-center-container" style="height: 100%;margin:0">Wybierz wiadomość z listy,<br/> aby zobaczyć przebieg konwersacji.</h4>
                </div>
                <div ng-if="msgCtrl.selectedMessageModel.isSelected" class="scroll-wrapper">
                    <p class="email-subject truncate">
                        {{msgCtrl.selectedMessageModel.title}}
                        <span class="email-tag green lighten-3">support</span>
                        <span class="right"><i class="material-icons">delete</i></span>
                    </p>
                    <hr class="grey-text text-lighten-2">
                    <div ng-repeat="message in msgCtrl.selectedMessageModel.messages">
                        <div class="email-content-wrap">
                            <div class="row">
                                <div class="col s10 m10 l10">
                                    <ul class="collection">
                                        <li class="collection-item avatar">
                                            <img ng-src="{{message.imgPath}}" alt="" class="circle">
                                            <span class="email-title">{{message.initials}}</span>
                                            <p class="grey-text ultra-small">{{message.createDate}}</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="email-content">
                                <p>{{message.text}}</p>
                            </div>
                        </div>
                        <hr>
                    </div>
                    <div class="email-reply">
                        <div class="row">
                            <div class="col s12">
                                <a href="!#">
                                    <i class="material-icons">reply</i>
                                    <p class="ultra-small">Odpowiedz</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Compose Email Trigger -->
@*<div class="fixed-action-btn" style="bottom: 50px; right: 19px;">
        <a class="btn-floating btn-large red modal-trigger" href="#modal1">
            <i class="mdi-editor-border-color"></i>
        </a>
    </div>*@

@*<!-- Compose Email Structure -->
    <div id="modal1" class="modal">
        <div class="modal-content">
            <nav class="red">
                <div class="nav-wrapper">
                    <div class="left col s12 m5 l5">
                        <ul>
                            <li>
                                <a href="#!" class="email-menu"><i class="modal-action modal-close  mdi-hardware-keyboard-backspace"></i></a>
                            </li>
                            <li>
                                <a href="#!" class="email-type">Compose</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col s12 m7 l7 hide-on-med-and-down">
                        <ul class="right">
                            <li>
                                <a href="#!"><i class="mdi-editor-attach-file"></i></a>
                            </li>
                            <li>
                                <a href="#!"><i class="modal-action modal-close  mdi-content-send"></i></a>
                            </li>
                            <li>
                                <a href="#!"><i class="mdi-navigation-more-vert"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <div class="model-email-content">
            <div class="row">
                <form class="col s12">
                    <!--<div class="row">
                        <div class="input-field col s12">
                            <input id="from_email" type="email" class="validate">
                            <label for="from_email">From</label>
                        </div>
                    </div> -->
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="to_email" type="email" class="validate">
                            <label for="to_email">To</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="subject" type="text" class="validate">
                            <label for="subject">Subject</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <textarea id="compose" class="materialize-textarea" length="500"></textarea>
                            <label for="compose">Compose email</label>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>*@

<script>
    var leftnav = $(".page-topbar").height();
    var leftnavHeight = window.innerHeight - leftnav;
    $('#email-list > .collection').height(parseInt(leftnavHeight * 0.66)).perfectScrollbar({
        suppressScrollX: true
    });

    $('#email-details > .scroll-wrapper, #email-list > .scroll-wrapper').height(parseInt(leftnavHeight * 0.66) + 2).perfectScrollbar({
        suppressScrollX: true
    });
</script>
