@model ParkingATHWeb.Areas.Portal.ViewModels.User.UserBaseViewModel
@{
    ViewData["Title"] = "Zmiana hasła";
}

<p>@Model.Email</p>
<p>@Model.LastName</p>
<p>@Model.Name</p>
<p>@Model.Charges</p>

<br />
<br />
<br />

<a asp-action="ChangePassword" asp-controller="Manage">Zmień hasło</a>
<br/>
<a asp-action="ChangeEmail" asp-controller="Manage">Zmiana emaila</a>
<br />
<a asp-action="SendCharges" asp-controller="Manage">Przekaż wyjazdy innej osobie</a>
<br />
<a asp-action="EditUserInfo" asp-controller="Manage">Edytuj swoje dane</a>
<br />
<a asp-action="SelfDeleteStart" asp-controller="Manage">Usuń swoje konto</a>
