<div class="row">
    <div class="col s12 m8 l6">
        <div class="card">
            <card-loader style="background: white" class="black-loader" loadname="settingsMainLoading"></card-loader>
            <div class="card-content">
                <p class="padding-bottom-20">
                    <span class="card-title grey-text text-darken-4">{{manageCtrl.model.Name}} {{manageCtrl.model.LastName}}</span>
                    <span><i class="mdi-action-perm-identity cyan-text text-darken-2"></i>{{manageCtrl.model.Range}}</span>
                </p>

                <p class="padding-bottom-20">Podstawowe informacje:</p>

                <p>
                    <i class="mdi-communication-email cyan-text text-darken-2"></i> Adres email: <b>{{manageCtrl.model.Email}}</b>
                </p>
                <p>
                    <i class="mdi-social-cake cyan-text text-darken-2"></i> Data dołączenia: <b>{{manageCtrl.model.CreateDate}}</b>
                </p>
                <p>
                    <i class="mdi-device-airplanemode-on cyan-text text-darken-2"></i> Ilość dostępnych wyjazdów: <b>{{manageCtrl.model.Charges}}</b>
                </p>
                <p>
                    <i class="mdi-device-airplanemode-on cyan-text text-darken-2"></i> Data ostatniego wyjazdu: <b>{{manageCtrl.model.LastGateOpenDate}}</b>
                </p>
            </div>

        </div>
    </div>
</div>
<div class="row padding-bottom-20">
    <div id="settings-tabs" class="col s12 m12 l12 xl8">
        <ul class="tabs tab-profile z-depth-1">
            <li class="tab col s4">
                <a class="white-text waves-effect waves-light" ng-click="manageCtrl.setActiveTab(1)" ng-class="{'active': manageCtrl.activeTab == 1}"><i class="mdi-editor-border-color"></i> Przekaż wyjazdy</a>
            </li>
            <li class="tab col s4">
                <a class="white-text waves-effect waves-light" ng-click="manageCtrl.setActiveTab(2)" ng-class="{'active': manageCtrl.activeTab == 2}"><i class="mdi-image-camera-alt"></i> Zmień hasło</a>
            </li>
            <li class="tab col s4 hide-on-med-and-down">
                <a class="white-text waves-effect waves-light" ng-click="manageCtrl.setActiveTab(3)" ng-class="{'active': manageCtrl.activeTab == 3}"><i class="mdi-image-photo-album"></i> Zmień adres email</a>
            </li>
            <li class="tab col s4 hide-on-med-and-down">
                <a class="white-text waves-effect waves-light" ng-click="manageCtrl.setActiveTab(4)" ng-class="{'active': manageCtrl.activeTab == 4}"><i class="mdi-editor-border-color"></i> Edytuj dane</a>
            </li>
        </ul>
        <ul class="tabs tab-profile z-depth-1  hide-on-large-only">
            <li class="tab col s4">
                <a class="white-text waves-effect waves-light" ng-click="manageCtrl.setActiveTab(3)" ng-class="{'active': manageCtrl.activeTab == 3}"><i class="mdi-image-photo-album"></i> Zmień adres email</a>
            </li>
            <li class="tab col s4">
                <a class="white-text waves-effect waves-light" ng-click="manageCtrl.setActiveTab(4)" ng-class="{'active': manageCtrl.activeTab == 4}"><i class="mdi-editor-border-color"></i> Edytuj dane</a>
            </li>
        </ul>
        <div class="tab-content col s12 white z-depth-1">
            <div class="row" ng-show="manageCtrl.activeTab == 1">
                <h4>Przekaż swoje wyjazdy</h4>
                <p>
                    Poniższy formularz pozwoli Ci przekazać swoje wyjazdy innej osobie, która posiada <b>aktywne</b> konto w systemie smartPARK.
                </p>
                <div name="manageCtrl.sendChargesForm" class="col s12" ng-form>
                    <div class="input-field col s12">
                        <input id="receiverEmail" name="receiverEmail" type="email" required ng-model="manageCtrl.sendChargesModel.ReceiverEmail" class="little-margin">
                        <label for="receiverEmail">Adres email odbiorcy</label>
                        <div ng-messages="manageCtrl.sendChargesForm.receiverEmail.$error" ng-show="manageCtrl.sendChargesForm.receiverEmail.$touched" class="ng-messages-errors">
                            <p ng-message="email">Wartość nie jest prawidłowym adresem email</p>
                        </div>
                    </div>

                    <div class="input-field col s12">
                        <input id="amountOfCharges" name="amountOfCharges" type="number" required min="1" ng-model="manageCtrl.sendChargesModel.AmountOfCharges" class="little-margin">
                        <label for="amountOfCharges">Ilość wyjazdów do przekazania</label>
                        <div ng-messages="manageCtrl.sendChargesForm.amountOfCharges.$error" ng-show="manageCtrl.sendChargesForm.amountOfCharges.$touched" class="ng-messages-errors">
                            <p ng-message="number">Wartość nie jest liczbą</p>
                        </div>
                    </div>

                    <div class="input-field col s12">
                        <input id="password" name="password" type="password" required ng-model="manageCtrl.sendChargesModel.Password" class="little-margin">
                        <label for="password">Hasło (pełni rolę zabezpieczającą)</label>
                        <div ng-messages="manageCtrl.sendChargesForm.password.$error" ng-show="manageCtrl.sendChargesForm.password.$touched" class="ng-messages-errors">
                            <p ng-message="required">Hasło jest wymagane</p>
                        </div>
                    </div>

                    <div class="input-field col s12 margin-bottom-20">
                        <button ng-click="manageCtrl.sendCharges()" class="btn waves-effect waves-light right" type="submit" name="action" ng-disabled="manageCtrl.sendChargesForm.$invalid || manageCtrl.sendChargesModel.disableButton == true">
                            Zatwierdź i przekaż wyjazdy
                            <i class="mdi-content-send right"></i>
                        </button>
                    </div>
                    <div class="row" style="padding-right: 20px;">
                        <loader loadname="sendCharges"></loader>
                    </div>
                </div>
            </div>
            <div class="row" ng-show="manageCtrl.activeTab == 2">
                <h4>Zmiana obecnego hasła</h4>
                <p>
                    Poniższy formularz pozwoli Ci zmienić swoje hasło do konta w systemie.
                </p>
                <div name="manageCtrl.changePasswordForm" class="col s12" ng-form>
                    <div class="input-field col s12">
                        <input id="oldPassword" name="oldPassword" type="password" required ng-model="manageCtrl.changePasswordModel.OldPassword" class="little-margin">
                        <label for="oldPassword">Stare hasło</label>
                        <div ng-messages="manageCtrl.changePasswordForm.oldPassword.$error" ng-show="manageCtrl.changePasswordForm.oldPassword.$touched" class="padding-bottom-20 ng-messages-errors">
                            <p ng-message="required">Hasło jest wymagane</p>
                        </div>
                    </div>

                    <div class="input-field col s12">
                        <input id="newPassword" name="newPassword" type="password" required ng-model="manageCtrl.changePasswordModel.Password" class="little-margin">
                        <label for="newPassword">Nowe hasło</label>
                        <div ng-messages="manageCtrl.changePasswordForm.newPassword.$error" ng-show="manageCtrl.changePasswordForm.newPassword.$touched" class="padding-bottom-20 ng-messages-errors">
                            <p ng-message="required">Hasło jest wymagane</p>
                        </div>
                    </div>

                    <div class="input-field col s12">
                        <input id="repeatNewPassword" name="repeatNewPassword" type="password" required ng-model="manageCtrl.changePasswordModel.RepeatPassword" compare-to="manageCtrl.changePasswordModel.Password" class="little-margin">
                        <label for="repeatNewPassword">Powtórz nowe hasło</label>
                        <div ng-messages="manageCtrl.changePasswordForm.repeatNewPassword.$error" ng-show="manageCtrl.changePasswordForm.repeatNewPassword.$touched" class="padding-bottom-20 ng-messages-errors">
                            <p ng-message="required">Hasło jest wymagane</p>
                            <p ng-message="compareTo">Hasło nie są takie same</p>

                        </div>
                    </div>

                    <div class="input-field col s12 margin-bottom-20">
                        <button ng-click="manageCtrl.changePassword()" class="btn waves-effect waves-light right" type="submit" name="action" ng-disabled="manageCtrl.changePasswordForm.$invalid || manageCtrl.changePasswordModel.disableButton == true">
                            Zmień hasło
                            <i class="mdi-content-send right"></i>
                        </button>
                    </div>
                    <div class="row" style="padding-right: 20px;">
                        <loader loadname="changePassword"></loader>
                    </div>
                </div>
            </div>

            <div class="row" ng-show="manageCtrl.activeTab == 3">
                <h4>Zmiana obecnego adresu email</h4>
                <p>
                    Poniższy formularz pozwoli Ci zmienić adres email należący do konta.
                </p>
                <div name="manageCtrl.changeEmailForm" class="col s12" ng-form>
                    <div class="input-field col s12">
                        <input id="newEmail" name="newEmail" type="email" required ng-model="manageCtrl.changeEmailModel.NewEmail" class="little-margin">
                        <label for="newEmail">Nowy adres email</label>
                        <div ng-messages="manageCtrl.changeEmailForm.newEmail.$error" ng-show="manageCtrl.changeEmailForm.newEmail.$touched" class="padding-bottom-20 ng-messages-errors">
                            <p ng-message="required">Podaj nowy adres email</p>
                            <p ng-message="email">To nie jest adres email</p>
                        </div>
                    </div>
                    <div class="input-field col s12">
                        <input id="newEmailRepeat" name="newEmailRepeat" type="email" required ng-model="manageCtrl.changeEmailModel.NewEmailRepeat" class="little-margin" compare-to="manageCtrl.changeEmailModel.NewEmail">
                        <label for="newEmailRepeat">Powtórz nowy adres email</label>
                        <div ng-messages="manageCtrl.changeEmailForm.newEmailRepeat.$error" ng-show="manageCtrl.changeEmailForm.newEmailRepeat.$touched" class="padding-bottom-20 ng-messages-errors">
                            <p ng-message="required">Powtórz proszę nowy adres email</p>
                            <p ng-message="email">To nie jest adres email</p>
                            <p ng-message="compareTo">Adresy email nie są takie same</p>
                        </div>
                    </div>

                    <div class="input-field col s12">
                        <input id="confirmPassword" name="confirmPassword" type="password" required ng-model="manageCtrl.changeEmailModel.Password" class="little-margin">
                        <label for="confirmPassword">Hasło do konta</label>
                        <div ng-messages="manageCtrl.changeEmailForm.confirmPassword.$error" ng-show="manageCtrl.changeEmailForm.confirmPassword.$touched" class="padding-bottom-20 ng-messages-errors">
                            <p ng-message="required">Hasło jest wymagane</p>
                        </div>
                    </div>

                    <div class="input-field col s12 margin-bottom-20">
                        <button ng-click="manageCtrl.changeEmail()" class="btn waves-effect waves-light right" type="submit" name="action" ng-disabled="manageCtrl.changeEmailForm.$invalid || manageCtrl.changeEmailModel.disableButton == true">
                            Zmień email
                            <i class="mdi-content-send right"></i>
                        </button>
                    </div>
                    <div class="row" style="padding-right: 20px;">
                        <loader loadname="changeEmail"></loader>
                    </div>
                </div>
            </div>

            <div class="row" ng-show="manageCtrl.activeTab == 4">
                <h4>Zmiana danych kontaktowych</h4>
                <p>
                    Poniższy formularz pozwoli Ci zmienić swoje dane kontaktowe.
                </p>
                <div name="manageCtrl.changeInfoForm" class="col s12" ng-form>
                    <div class="input-field col s12">
                        <input id="firstName" name="firstName" type="text" required ng-model="manageCtrl.changeInfoModel.Name" class="little-margin" not-equal-to="manageCtrl.model.Name">
                        <label for="firstName" ng-class="{'active': manageCtrl.changeInfoModel.Name !== ''}">Imię</label>
                        <div ng-messages="manageCtrl.changeInfoForm.firstName.$error" ng-show="manageCtrl.changeInfoForm.firstName.$touched" class="padding-bottom-20 ng-messages-errors">
                            <p ng-message="required">Imię jest wymagane</p>
                        </div>
                    </div>

                    <div class="input-field col s12">
                        <input id="lastName" name="lastName" type="text" required ng-model="manageCtrl.changeInfoModel.LastName" class="little-margin" not-equal-to="manageCtrl.model.LastName">
                        <label for="lastName" ng-class="{'active': manageCtrl.changeInfoModel.LastName !== ''}">Nazwisko</label>
                        <div ng-messages="manageCtrl.changeInfoForm.lastName.$error" ng-show="manageCtrl.changeInfoForm.lastName.$touched" class="padding-bottom-20 ng-messages-errors">
                            <p ng-message="required">Nazwisko jest wymagane</p>
                        </div>
                    </div>

                    <div class="input-field col s12 margin-bottom-20">
                        <button ng-click="manageCtrl.changeInfo()" class="btn waves-effect waves-light right" type="submit" name="action" ng-disabled="manageCtrl.changeInfoForm.$invalid || manageCtrl.changeInfoModel.disableButton == true">
                            Zmień swoje dane kontaktowe
                            <i class="mdi-content-send right"></i>
                        </button>
                    </div>
                    <div class="row" style="padding-right: 20px;">
                        <loader loadname="changeInfo"></loader>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
