@model ParkingATHWeb.Areas.Portal.ViewModels.Manage.ResetPasswordViewModel
@{
    ViewData["Title"] = "Resetowanie hasła";
    Layout = "_LayoutClear";
}
<div class="container valign">
    <div class="row">
        <div class="col s8 m6 offset-s2 offset-m3">
            <p class="center-align margin-bottom-50">
                <a asp-action="Index" asp-controller="Home" asp-route-area="Portal"><img src="~/images/logo_standard.png" /></a>
            </p>
        </div>
    </div>
    <div class="row" id="form-row">
        <div class="col s10 m8 offset-s1 offset-m2 z-depth-1">
            <h2 class="valign-wrapper" style="justify-content: center; margin-bottom: 0">
                <img src="~/images/lock_logo.png" class="valign" />ZMIANA HASŁA

            </h2>
            <h5 class="smart-grey center-align">Wprowadź swoje nowe hasło</h5>

            <form asp-action="ResetPassword" asp-controller="Manage" asp-antiforgery="true" id="reset-password-form">
                <div asp-validation-summary="ValidationSummary.ModelOnly"></div>
                <input type="hidden" asp-for="Token" value="@Model.Token" />
                <div class="row">
                    <div class="col s8 m6">
                        <div class="input-field">
                            <input type="password" asp-for="Password" />
                            <label asp-for="Password"></label>
                            <span asp-validation-for="Password"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s8 m6">
                        <div class="input-field">
                            <input type="password" asp-for="RepeatPassword" />
                            <label asp-for="RepeatPassword"></label>
                            <span asp-validation-for="RepeatPassword"></span>
                        </div>
                    </div>
                </div>
                <div class="row valign-wrapper" style="margin:0">
                    <button class="btn waves-effect waves-light valign smart-form-btn" style="margin-right: 10px;" data-form-id="reset-password-form">
                        Resetuj hasło
                        <i class="material-icons right">send</i>
                    </button>
                    <div class="preloader-wrapper small active valign" style="display: none; margin: 0 10px 0 5px;">
                        <div class="spinner-layer spinner-blue">
                            <div class="circle-clipper left">
                                <div class="circle"></div>
                            </div>
                            <div class="gap-patch">
                                <div class="circle"></div>
                            </div>
                            <div class="circle-clipper right">
                                <div class="circle"></div>
                            </div>
                        </div>

                        <div class="spinner-layer spinner-red">
                            <div class="circle-clipper left">
                                <div class="circle"></div>
                            </div>
                            <div class="gap-patch">
                                <div class="circle"></div>
                            </div>
                            <div class="circle-clipper right">
                                <div class="circle"></div>
                            </div>
                        </div>

                        <div class="spinner-layer spinner-yellow">
                            <div class="circle-clipper left">
                                <div class="circle"></div>
                            </div>
                            <div class="gap-patch">
                                <div class="circle"></div>
                            </div>
                            <div class="circle-clipper right">
                                <div class="circle"></div>
                            </div>
                        </div>

                        <div class="spinner-layer spinner-green">
                            <div class="circle-clipper left">
                                <div class="circle"></div>
                            </div>
                            <div class="gap-patch">
                                <div class="circle"></div>
                            </div>
                            <div class="circle-clipper right">
                                <div class="circle"></div>
                            </div>
                        </div>
                    </div>
                    <a asp-action="LoginRegisterForgot" asp-controller="Account" class="smart-blue smart-move-btn align-right"><b>LOGOWANIE</b></a>

                </div>
            </form>
        </div>

    </div>
</div>
