<div class="col s12 margin-bottom-50">
    <div class="card">
        <div class="card-content">
            <p class="card-title grey-text text-darken-4">
                Historia zamówień
            </p>
            <p class="margin-bottom-20"><b>Ta sekcja pozwoli ci na kontrolowanie zamówień, zawiera ona dokładne informacje o każdym zamówieniu.</b></p>
        </div>
    </div>
</div>