<div class="col s12 m12 l12 xl7 margin-bottom-50">
    <div class="card">
        <card-loader style="background: white" loadname="statisticsDefaultDataLoader"></card-loader>
        <div class="card-move-up">
            <div class="row move-up">
                <div class="col s12 l4 xl3" ng-form name="gateUsagesSettingsForm">
                    <p class="card-title margin-bottom-5"><b>Statystyki wyjazdów</b>
                    </p>
                    <p class="margin-bottom-25">Poniżej możesz spersonalizować ustawienia dotyczące statystyk wyjazdów.</p>
                    <div class="row">
                        <div class="input-field col s12 l10 xl8  flex-align-center-container">
                            <i class="material-icons prefix" id="gtIconStart">date_range</i>
                            <input input-date
                                   type="text"
                                   name="created2"
                                   id="gateUsagesStartDate"
                                   ng-model="statCtrl.gateUsagesModel.startDate"
                                   container="body"
                                   format="mm/dd/yyyy"
                                   months-full="{{ statCtrl.month }}"
                                   months-short="{{ statCtrl.monthShort }}"
                                   weekdays-full="{{ statCtrl.weekdaysFull }}"
                                   weekdays-short="{{ statCtrl.weekdaysShort }}"
                                   weekdays-letter="{{ statCtrl.weekdaysLetter }}"
                                   today="statCtrl.today"
                                   close="statCtrl.close"
                                   clear="statCtrl.clear"
                                   on-close="statCtrl.onClose('gtIconStart')"/>
                            <label for="gateUsagesStartDate" class="active">Data początkowa (mm/dd/yyyy)</label>
                        </div>
                        <div class="input-field col s12 l10 xl8 flex-align-center-container">
                            <i class="material-icons prefix" id="gtIconEnd">date_range</i>
                            <input input-date
                                   type="text"
                                   name="created2"
                                   id="gateUsagesEndDate"
                                   ng-model="statCtrl.gateUsagesModel.endDate"
                                   container="body"
                                   format="mm/dd/yyyy"
                                   today="statCtrl.today"
                                   close="statCtrl.close"
                                   clear="statCtrl.clear"
                                   months-full="{{ statCtrl.month }}"
                                   months-short="{{ statCtrl.monthShort }}"
                                   weekdays-full="{{ statCtrl.weekdaysFull }}"
                                   weekdays-short="{{ statCtrl.weekdaysShort }}"
                                   weekdays-letter="{{ statCtrl.weekdaysLetter }}"
                                   on-close="statCtrl.onClose('gtIconEnd')"/>
                            <label for="gateUsagesEndDate" class="active">Data końcowa (mm/dd/yyyy)</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <p>Częstotliwość danych:</p>
                        </div>
                        <div class="col s12 m4">
                            <p>
                                <input name="gateUsagesGranuality" type="radio" id="gtDays" ng-model="statCtrl.gateUsagesModel.granuality" ng-checked="statCtrl.gateUsagesModel.granuality == 0" value="0"/>
                                <label for="gtDays">Dni</label>
                            </p>
                        </div>
                        <div class="col s12 m4">
                            <p>
                                <input name="gateUsagesGranuality" type="radio" id="gtWeeks" ng-model="statCtrl.gateUsagesModel.granuality" ng-checked="statCtrl.gateUsagesModel.granuality == 1" value="1"/>
                                <label for="gtWeeks">Tygodnie</label>
                            </p>
                        </div>
                        <div class="col s12 m4">
                            <p>
                                <input name="gateUsagesGranuality" type="radio" id="gtMonths" ng-model="statCtrl.gateUsagesModel.granuality" ng-checked="statCtrl.gateUsagesModel.granuality == 2" value="2"/>
                                <label for="gtMonths">Miesiące</label>
                            </p>
                        </div>
                        <button class="col s10 offset-s1 btn waves-effect waves-light margin-bottom-20" type="submit" ng-disabled="statCtrl.gateUsagesModel.disableButton == true" name="action" style="margin-top: 40px" ng-click="statCtrl.getGateUsagesChartData()">Pokaż dane<i class="material-icons right">send</i></button>
                    </div>
                    <div class="row" style="padding-right: 20px;">
                        <loader loadname="gateUsagesChartAjax"></loader>
                    </div>
                </div>
                <div class="col s12 l8 xl9">

                    <div>
                        <a class="btn-floating waves-effect waves-light right" style="background: #132d4b"><i class="material-icons activator">expand_less</i></a>
                        <span class="chart-title white-text">Częstotliwość wyjazdów > ostatnie 7 dni</span>
                    </div>
                    <div class="trending-line-chart-wrapper">
                        <canvas id="gateUsagesChart" class="chart chart-line" chart-data="statCtrl.gateUsagesModel.data"
                                chart-labels="statCtrl.gateUsagesModel.labels" chart-series="statCtrl.gateUsagesModel.series" chart-options="statCtrl.gateUsagesModel.options" height="100"></canvas>
                    </div>

                </div>
            </div>

        </div>
        <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Wyjazdy - od {{statCtrl.gateUsagesModel.labelStartDate}} do {{statCtrl.gateUsagesModel.labelEndDate}} <i class="material-icons right">close</i></span>
            <table class="responsive-table">
                <thead>
                <tr>
                    <th data-field="id">Data</th>
                    <th data-field="month">Ilość wyjazdów</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in statCtrl.gateUsagesModel.labels">
                    <td>{{item}}</td>
                    <td>{{statCtrl.gateUsagesModel.data[0][$index]}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="col s12 m12 l12 xl7">
    <div class="card">
        <card-loader style="background: white" loadname="statisticsDefaultDataLoader"></card-loader>
        <div class="card-move-up">
            <div class="row move-up">
                <div class="col s12 l4 xl3" ng-form name="orderSettingsForm">
                    <p class="card-title margin-bottom-5"><b>Statystyki zamówień/zakupów</b>
                    </p>
                    <p class="margin-bottom-25">Poniżej możesz spersonalizować ustawienia dotyczące statystyk Twoich zamówień w smartPark.</p>
                    <div class="row">
                        <div class="input-field col s12 l10 xl8  flex-align-center-container">
                            <i class="material-icons prefix" id="ordIconStart">date_range</i>
                            <input input-date
                                   type="text"
                                   name="created2"
                                   id="ordersStartDate"
                                   ng-model="statCtrl.ordersModel.startDate"
                                   container="body"
                                   format="mm/dd/yyyy"
                                   today="statCtrl.today"
                                   close="statCtrl.close"
                                   clear="statCtrl.clear"
                                   months-full="{{ statCtrl.month }}"
                                   months-short="{{ statCtrl.monthShort }}"
                                   weekdays-full="{{ statCtrl.weekdaysFull }}"
                                   weekdays-short="{{ statCtrl.weekdaysShort }}"
                                   weekdays-letter="{{ statCtrl.weekdaysLetter }}"
                                   on-close="statCtrl.onClose('ordIconStart')"/>
                            <label for="ordersStartDate" class="active">Data początkowa</label>
                        </div>
                        <div class="input-field col s12 l10 xl8 flex-align-center-container">
                            <i class="material-icons prefix" id="ordIconEnd">date_range</i>
                            <input input-date
                                   type="text"
                                   name="created2"
                                   id="ordersEndDate"
                                   ng-model="statCtrl.ordersModel.endDate"
                                   container="body"
                                   format="mm/dd/yyyy"
                                   today="statCtrl.today"
                                   close="statCtrl.close"
                                   clear="statCtrl.clear"
                                   months-full="{{ statCtrl.month }}"
                                   months-short="{{ statCtrl.monthShort }}"
                                   weekdays-full="{{ statCtrl.weekdaysFull }}"
                                   weekdays-short="{{ statCtrl.weekdaysShort }}"
                                   weekdays-letter="{{ statCtrl.weekdaysLetter }}"
                                    on-close="statCtrl.onClose('ordIconEnd')"/>
                            <label for="ordersEndDate" class="active">Data końcowa</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <p>Częstotliwość danych:</p>
                        </div>
                        <div class="col s12 m4">
                            <p>
                                <input name="ordersGranuality" type="radio" id="ordersDays" ng-model="statCtrl.ordersModel.granuality" ng-checked="statCtrl.ordersModel.granuality == 0" value="0"/>
                                <label for="ordersDays">Dni</label>
                            </p>
                        </div>
                        <div class="col s12 m4">
                            <p>
                                <input name="ordersGranuality" type="radio" id="ordersWeeks" ng-model="statCtrl.ordersModel.granuality" ng-checked="statCtrl.ordersModel.granuality == 1" value="1"/>
                                <label for="ordersWeeks">Tygodnie</label>
                            </p>
                        </div>
                        <div class="col s12 m4">
                            <p>
                                <input name="ordersGranuality" type="radio" id="ordersMonths" ng-model="statCtrl.ordersModel.granuality" ng-checked="statCtrl.ordersModel.granuality == 2" value="2"/>
                                <label for="ordersMonths">Miesiące</label>
                            </p>
                        </div>
                        <button class="col s10 offset-s1 btn waves-effect waves-light margin-bottom-20" ng-disabled="statCtrl.ordersModel.disableButton == true" type="submit" name="action" style="margin-top: 40px" ng-click="statCtrl.getOrdersChartData()">Pokaż dane <i class="material-icons right">send</i></button>
                    </div>
                    <div class="row" style="padding-right: 20px;">
                        <loader loadname="ordersChartAjax"></loader>
                    </div>
                </div>
                <div class="col s12 l8 xl9">
                    <div>
                        <a class="btn-floating waves-effect waves-light right" style="background: #132d4b"><i class="material-icons activator">expand_less</i></a>
                        <span class="chart-title white-text">Częstotliwość wyjazdów > ostatnie 7 dni</span>
                    </div>
                    <div class="trending-line-chart-wrapper">
                        <canvas id="ordersChart" class="chart chart-line" chart-data="statCtrl.ordersModel.data"
                                chart-labels="statCtrl.ordersModel.labels" chart-series="statCtrl.ordersModel.series" chart-options="statCtrl.ordersModel.options" height="100"></canvas>
                    </div>

                </div>
            </div>

        </div>
        <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Zamówienia - od {{statCtrl.ordersModel.labelStartDate}} do {{statCtrl.ordersModel.labelEndDate}} <i class="material-icons right">close</i></span>
            <table class="responsive-table">
                <thead>
                <tr>
                    <th data-field="id">Data</th>
                    <th data-field="month">Ilość zamówień</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in statCtrl.ordersModel.labels">
                    <td>{{item}}</td>
                    <td>{{statCtrl.ordersModel.data[0][$index]}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>