<div class="col s12 m12 l12 xl7 margin-bottom-50">
    <div class="card">
        <card-loader style="background: white" loadname="statisticsDefaultDataLoader"></card-loader>
        <div class="card-move-up">
            <div class="row move-up">
                <div class="col s12 l4 xl3" ng-form name="gateUsagesSettingsForm">
                    <p class="card-title margin-bottom-5">
                        <b>Statystyki wyjazdów</b>
                    </p>
                    <p class="margin-bottom-25">Poniżej możesz spersonalizować ustawienia dotyczące statystyk wyjazdów.</p>
                    <div class="row">
                        <div class="input-field col s12 l10 xl8  flex-align-center-container">
                            <i class="material-icons prefix" id="gtIconStart">date_range</i>
                            <input input-date
                                   type="text"
                                   name="created2"
                                   id="gateUsagesStartDate"
                                   ng-model="statCtrl.gateUsagesModel.startDate"
                                   container="body"
                                   format="mm/dd/yyyy"
                                   months-full="{{ statCtrl.month }}"
                                   months-short="{{ statCtrl.monthShort }}"
                                   weekdays-full="{{ statCtrl.weekdaysFull }}"
                                   weekdays-short="{{ statCtrl.weekdaysShort }}"
                                   weekdays-letter="{{ statCtrl.weekdaysLetter }}"
                                   today="statCtrl.today"
                                   close="statCtrl.close"
                                   clear="statCtrl.clear"
                                   on-close="statCtrl.onClose('gtIconStart')" />
                            <label for="gateUsagesStartDate" class="active">Data początkowa (mm/dd/yyyy)</label>
                        </div>
                        <div class="input-field col s12 l10 xl8 flex-align-center-container">
                            <i class="material-icons prefix" id="gtIconEnd">date_range</i>
                            <input input-date
                                   type="text"
                                   name="created2"
                                   id="gateUsagesEndDate"
                                   ng-model="statCtrl.gateUsagesModel.endDate"
                                   container="body"
                                   format="mm/dd/yyyy"
                                   today="statCtrl.today"
                                   close="statCtrl.close"
                                   clear="statCtrl.clear"
                                   months-full="{{ statCtrl.month }}"
                                   months-short="{{ statCtrl.monthShort }}"
                                   weekdays-full="{{ statCtrl.weekdaysFull }}"
                                   weekdays-short="{{ statCtrl.weekdaysShort }}"
                                   weekdays-letter="{{ statCtrl.weekdaysLetter }}"
                                   on-close="statCtrl.onClose('gtIconEnd')" />
                            <label for="gateUsagesEndDate" class="active">Data końcowa (mm/dd/yyyy)</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <p>Częstotliwość danych:</p>
                        </div>
                        <div class="col s12 m4">
                            <p>
                                <input name="gateUsagesGranuality" type="radio" id="gtDays" ng-model="statCtrl.gateUsagesModel.granuality" ng-checked="statCtrl.gateUsagesModel.granuality == 0" value="0" />
                                <label for="gtDays">Dni</label>
                            </p>
                        </div>
                        <div class="col s12 m4">
                            <p>
                                <input name="gateUsagesGranuality" type="radio" id="gtWeeks" ng-model="statCtrl.gateUsagesModel.granuality" ng-checked="statCtrl.gateUsagesModel.granuality == 1" value="1" />
                                <label for="gtWeeks">Tygodnie</label>
                            </p>
                        </div>
                        <div class="col s12 m4">
                            <p>
                                <input name="gateUsagesGranuality" type="radio" id="gtMonths" ng-model="statCtrl.gateUsagesModel.granuality" ng-checked="statCtrl.gateUsagesModel.granuality == 2" value="2" />
                                <label for="gtMonths">Miesiące</label>
                            </p>
                        </div>
                        <button class="col s10 offset-s1 btn waves-effect waves-light margin-bottom-20" type="submit" ng-disabled="statCtrl.gateUsagesModel.disableButton == true" name="action" style="margin-top: 40px" ng-click="statCtrl.getGateUsagesChartData()">Pokaż dane<i class="material-icons right">send</i></button>
                    </div>
                    <div class="row" style="padding-right: 20px;">
                        <loader loadname="gateUsagesChartAjax"></loader>
                    </div>
                </div>
                <div class="col s12 l8 xl9">

                    <div>
                        <a class="btn-floating waves-effect waves-light right" style="background: #132d4b"><i class="material-icons activator">list</i></a>
                        <span class="chart-title white-text">Częstotliwość wyjazdów > ostatnie 7 dni</span>
                    </div>
                    <div class="trending-line-chart-wrapper">
                        <canvas id="gateUsagesChart" class="chart chart-line" chart-data="statCtrl.gateUsagesModel.data"
                                chart-labels="statCtrl.gateUsagesModel.labels" chart-series="statCtrl.gateUsagesModel.series" chart-options="statCtrl.gateUsagesModel.options" height="100"></canvas>
                    </div>

                </div>
            </div>

        </div>
        <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Wyjazdy - od {{statCtrl.gateUsagesModel.labelStartDate}} do {{statCtrl.gateUsagesModel.labelEndDate}} <i class="material-icons right">close</i></span>
            <table class="responsive-table">
                <thead>
                    <tr>
                        <th data-field="id">Data</th>
                        <th data-field="month">Ilość wyjazdów</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in statCtrl.gateUsagesModel.labels">
                        <td>{{item}}</td>
                        <td>{{statCtrl.gateUsagesModel.data[0][$index]}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<div class="col s12 margin-bottom-50">
    <div class="card">
        <div class="card-content">
            <p class="card-title grey-text text-darken-4">
                Historia Twoich zamówień
            </p>
            <p class="margin-bottom-20">
                <b>Ta sekcja pozwoli ci na kontrolowanie Twoich zamówień, zawiera ona dokładne informacje o każdym zamówieniu.</b>
            </p>
            <div>
                <card-loader style="background: white;" loadname="getOrderListLoader"></card-loader>
                <div class="row">
                    <div class="col s12 m10 l10 xl8">
                        <div class="row flex-align-center-container-mid-and-up">
                            <div class="input-field flex-align-center-container col s12 m4">
                                <i class="material-icons prefix" id="orderIconStart">date_range</i>
                                <input input-date
                                       type="text"
                                       name="created2"
                                       id="orderDateFrom"
                                       ng-model="statCtrl.orderDateRangeModel.DateFrom"
                                       container="body"
                                       format="mm/dd/yyyy"
                                       months-full="{{ statCtrl.month }}"
                                       months-short="{{ statCtrl.monthShort }}"
                                       weekdays-full="{{ statCtrl.weekdaysFull }}"
                                       weekdays-short="{{ statCtrl.weekdaysShort }}"
                                       weekdays-letter="{{ statCtrl.weekdaysLetter }}"
                                       today="statCtrl.today"
                                       close="statCtrl.close"
                                       clear="statCtrl.clear"
                                       on-close="statCtrl.onClose('orderIconStart')" />
                                <label for="orderDateFrom" class="active">Data początkowa (mm/dd/yyyy)</label>
                            </div>
                            <div class="input-field flex-align-center-container col s12 m4">
                                <i class="material-icons prefix" id="orderIconEnd">date_range</i>
                                <input input-date
                                       type="text"
                                       name="created2"
                                       id="orderDateTo"
                                       ng-model="statCtrl.orderDateRangeModel.DateTo"
                                       container="body"
                                       format="mm/dd/yyyy"
                                       months-full="{{ statCtrl.month }}"
                                       months-short="{{ statCtrl.monthShort }}"
                                       weekdays-full="{{ statCtrl.weekdaysFull }}"
                                       weekdays-short="{{ statCtrl.weekdaysShort }}"
                                       weekdays-letter="{{ statCtrl.weekdaysLetter }}"
                                       today="statCtrl.today"
                                       close="statCtrl.close"
                                       clear="statCtrl.clear"
                                       on-close="statCtrl.onClose('orderIconEnd')" />
                                <label for="orderDateTo" class="active">Data końcowa (mm/dd/yyyy)</label>
                            </div>
                            <button class="col s12 m4 xl3 btn waves-effect waves-light margin-bottom-20" type="submit" name="action" style="margin-top: 40px" ng-click="statCtrl.refreshOrderList()">odśwież listę<i class="material-icons right">send</i></button>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <ul class="margin-bottom-20 col s12 m7 l9" style="margin-top: 0; margin-left: 0">
                        <li>
                            <div class="header-search-wrapper" style="width: 75%;">
                                <i class="material-icons">search</i>
                                <input type="text" name="Search" class="header-search-input" placeholder="Wyszukaj zamówienie.." ng-model="statCtrl.orderListFilterModel.searchText" ng-change="statCtrl.onOrderTextChange()" style="border-bottom: 3px solid #4b85c5 !important; border-radius: 0" />
                            </div>
                        </li>
                    </ul>
                </div>

                <table class="responsive-table margin-bottom-20">
                    <thead>
                    <tr>
                        <th>Data zakupu</th>
                        <th>Godzina zakupu</th>
                        <th>Ilość wyjazdów</th>
                        <th>Cena za sztukę</th>
                        <th>Cena całkowita</th>
                        <th>Miejsce zakupu</th>
                        <th>Stan zamówienia</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-if="statCtrl.orderListViewModel.items.length===0">
                        <td colspan="7">
                            <p>
                                <b>Brak zamówień dla danego przedziału czasowego.</b>
                            </p>
                        </td>
                    </tr>
                    <tr ng-repeat="order in statCtrl.orderListViewModel.items" ng-class="order.OrderStateStyle">
                        <td>{{order.Date}}</td>
                        <td>{{order.Time}}</td>
                        <td>{{order.NumOfCharges}}</td>
                        <td>{{order.PricePerCharge}}</td>
                        <td>{{order.Price}}</td>
                        <td>{{order.OrderPlace}}</td>
                        <td>{{order.OrderState}}</td>
                    </tr>
                    </tbody>
                </table>
                <div ng-if="statCtrl.orderListViewModel.items.length!==0">
                    <div class="row">
                        <div class="col s12 flex-align-center-container" style="justify-content: flex-start">
                            <p><b>Rozmiar strony:</b> </p><input type="number" ng-model="statCtrl.orderListFilterModel.pageSize" ng-change="statCtrl.onOrderPageSizeChange()" style="width: 50px; height: 2rem;margin:0 0 5px 15px" />
                        </div>
                    </div>
                    <ul class="pagination">
                        <li class="waves-effect" ng-click="statCtrl.setOrderPage(1)" ng-class="{'disabled':self.orderListFilterModel.currentPage===1}" style="padding:0">
                            <a>
                                <i class="material-icons">first_page</i>
                            </a>
                        </li>
                        <li class="waves-effect" ng-click="statCtrl.setOrderPage(self.orderListFilterModel.currentPage-1)" ng-class="{'disabled':self.orderListFilterModel.currentPage===1}" style="padding:0">
                            <a>
                                <i class="material-icons">chevron_left</i>
                            </a>
                        </li>

                        <li ng-repeat="page in statCtrl.orderListViewModel.tableOfPages" ng-class="{active: statCtrl.orderListFilterModel.currentPage==page}" class="waves-effect" ng-click="statCtrl.setOrderPage(page)">
                            <a>{{page}}</a>
                        </li>

                        <li class="waves-effect" ng-click="statCtrl.setOrderPage(self.orderListFilterModel.currentPage+1)" ng-class="{'disabled':statCtrl.orderListViewModel.totalPages === self.orderListFilterModel.currentPage}" style="padding:0">
                            <a>
                                <i class="material-icons">chevron_right</i>
                            </a>
                        </li>
                        <li class="waves-effect" ng-click="statCtrl.setOrderPage(statCtrl.orderListViewModel.totalPages)" ng-class="{'disabled':statCtrl.orderListViewModel.totalPages === self.orderListFilterModel.currentPage}" style="padding: 0">
                            <a>
                                <i class="material-icons">last_page</i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>




<div class="col s12 m12 l12 xl7">
    <div class="card">
        <card-loader style="background: white" loadname="statisticsDefaultDataLoader"></card-loader>
        <div class="card-move-up">
            <div class="row move-up">
                <div class="col s12 l4 xl3" ng-form name="orderSettingsForm">
                    <p class="card-title margin-bottom-5">
                        <b>Statystyki zamówień/zakupów</b>
                    </p>
                    <p class="margin-bottom-25">Poniżej możesz spersonalizować ustawienia dotyczące statystyk Twoich zamówień w smartPark.</p>
                    <div class="row">
                        <div class="input-field col s12 l10 xl8  flex-align-center-container">
                            <i class="material-icons prefix" id="ordIconStart">date_range</i>
                            <input input-date
                                   type="text"
                                   name="created2"
                                   id="ordersStartDate"
                                   ng-model="statCtrl.ordersModel.startDate"
                                   container="body"
                                   format="mm/dd/yyyy"
                                   today="statCtrl.today"
                                   close="statCtrl.close"
                                   clear="statCtrl.clear"
                                   months-full="{{ statCtrl.month }}"
                                   months-short="{{ statCtrl.monthShort }}"
                                   weekdays-full="{{ statCtrl.weekdaysFull }}"
                                   weekdays-short="{{ statCtrl.weekdaysShort }}"
                                   weekdays-letter="{{ statCtrl.weekdaysLetter }}"
                                   on-close="statCtrl.onClose('ordIconStart')"/>
                            <label for="ordersStartDate" class="active">Data początkowa</label>
                        </div>
                        <div class="input-field col s12 l10 xl8 flex-align-center-container">
                            <i class="material-icons prefix" id="ordIconEnd">date_range</i>
                            <input input-date
                                   type="text"
                                   name="created2"
                                   id="ordersEndDate"
                                   ng-model="statCtrl.ordersModel.endDate"
                                   container="body"
                                   format="mm/dd/yyyy"
                                   today="statCtrl.today"
                                   close="statCtrl.close"
                                   clear="statCtrl.clear"
                                   months-full="{{ statCtrl.month }}"
                                   months-short="{{ statCtrl.monthShort }}"
                                   weekdays-full="{{ statCtrl.weekdaysFull }}"
                                   weekdays-short="{{ statCtrl.weekdaysShort }}"
                                   weekdays-letter="{{ statCtrl.weekdaysLetter }}"
                                   on-close="statCtrl.onClose('ordIconEnd')"/>
                            <label for="ordersEndDate" class="active">Data końcowa</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <p>Częstotliwość danych:</p>
                        </div>
                        <div class="col s12 m4">
                            <p>
                                <input name="ordersGranuality" type="radio" id="ordersDays" ng-model="statCtrl.ordersModel.granuality" ng-checked="statCtrl.ordersModel.granuality == 0" value="0"/>
                                <label for="ordersDays">Dni</label>
                            </p>
                        </div>
                        <div class="col s12 m4">
                            <p>
                                <input name="ordersGranuality" type="radio" id="ordersWeeks" ng-model="statCtrl.ordersModel.granuality" ng-checked="statCtrl.ordersModel.granuality == 1" value="1"/>
                                <label for="ordersWeeks">Tygodnie</label>
                            </p>
                        </div>
                        <div class="col s12 m4">
                            <p>
                                <input name="ordersGranuality" type="radio" id="ordersMonths" ng-model="statCtrl.ordersModel.granuality" ng-checked="statCtrl.ordersModel.granuality == 2" value="2"/>
                                <label for="ordersMonths">Miesiące</label>
                            </p>
                        </div>
                        <button class="col s10 offset-s1 btn waves-effect waves-light margin-bottom-20" ng-disabled="statCtrl.ordersModel.disableButton == true" type="submit" name="action" style="margin-top: 40px" ng-click="statCtrl.getOrdersChartData()">Pokaż dane <i class="material-icons right">send</i></button>
                    </div>
                    <div class="row" style="padding-right: 20px;">
                        <loader loadname="ordersChartAjax"></loader>
                    </div>
                </div>
                <div class="col s12 l8 xl9">
                    <div>
                        <a class="btn-floating waves-effect waves-light right" style="background: #132d4b"><i class="material-icons activator">list</i></a>
                        <span class="chart-title white-text">Częstotliwość wyjazdów > ostatnie 7 dni</span>
                    </div>
                    <div class="trending-line-chart-wrapper">
                        <canvas id="ordersChart" class="chart chart-line" chart-data="statCtrl.ordersModel.data"
                                chart-labels="statCtrl.ordersModel.labels" chart-series="statCtrl.ordersModel.series" chart-options="statCtrl.ordersModel.options" height="100"></canvas>
                    </div>

                </div>
            </div>

        </div>
        <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Zamówienia - od {{statCtrl.ordersModel.labelStartDate}} do {{statCtrl.ordersModel.labelEndDate}} <i class="material-icons right">close</i></span>
            <table class="responsive-table">
                <thead>
                <tr>
                    <th data-field="id">Data</th>
                    <th data-field="month">Ilość zamówień</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in statCtrl.ordersModel.labels">
                    <td>{{item}}</td>
                    <td>{{statCtrl.ordersModel.data[0][$index]}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>




<div class="col s12 margin-bottom-50">
    <div class="card">
        <div class="card-content">
            <p class="card-title grey-text text-darken-4">
                Historia Twoich wyjazdów
            </p>
            <p class="margin-bottom-20">
                <b>Ta sekcja pozwoli ci na kontrolowanie Twoich wyjazdów, zawiera ona dokładne informacje o każdym wyjeździe.</b>
            </p>
            <div>
                <card-loader style="background: white;" loadname="getGtListLoader"></card-loader>
                <div class="row">
                    <div class="col s12 m10 l10 xl8">
                        <div class="row flex-align-center-container-mid-and-up">
                            <div class="input-field flex-align-center-container col s12 m4">
                                <i class="material-icons prefix" id="gtIconListStart">date_range</i>
                                <input input-date
                                       type="text"
                                       name="created2"
                                       id="gtDateFrom"
                                       ng-model="statCtrl.gtDateRangeModel.DateFrom"
                                       container="body"
                                       format="mm/dd/yyyy"
                                       months-full="{{ statCtrl.month }}"
                                       months-short="{{ statCtrl.monthShort }}"
                                       weekdays-full="{{ statCtrl.weekdaysFull }}"
                                       weekdays-short="{{ statCtrl.weekdaysShort }}"
                                       weekdays-letter="{{ statCtrl.weekdaysLetter }}"
                                       today="statCtrl.today"
                                       close="statCtrl.close"
                                       clear="statCtrl.clear"
                                       on-close="statCtrl.onClose('gtIconListStart')" />
                                <label for="gtDateFrom" class="active">Data początkowa (mm/dd/yyyy)</label>
                            </div>
                            <div class="input-field flex-align-center-container col s12 m4">
                                <i class="material-icons prefix" id="gtIconListEnd">date_range</i>
                                <input input-date
                                       type="text"
                                       name="created2"
                                       id="gtDateTo"
                                       ng-model="statCtrl.gtDateRangeModel.DateTo"
                                       container="body"
                                       format="mm/dd/yyyy"
                                       months-full="{{ statCtrl.month }}"
                                       months-short="{{ statCtrl.monthShort }}"
                                       weekdays-full="{{ statCtrl.weekdaysFull }}"
                                       weekdays-short="{{ statCtrl.weekdaysShort }}"
                                       weekdays-letter="{{ statCtrl.weekdaysLetter }}"
                                       today="statCtrl.today"
                                       close="statCtrl.close"
                                       clear="statCtrl.clear"
                                       on-close="statCtrl.onClose('gtIconListEnd')" />
                                <label for="gtDateTo" class="active">Data końcowa (mm/dd/yyyy)</label>
                            </div>
                            <button class="col s12 m4 xl3 btn waves-effect waves-light margin-bottom-20" type="submit" name="action" style="margin-top: 40px" ng-click="statCtrl.refreshGtList()">odśwież listę<i class="material-icons right">send</i></button>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <ul class="margin-bottom-20 col s12 m7 l9" style="margin-top: 0; margin-left: 0">
                        <li>
                            <div class="header-search-wrapper" style="width: 75%;">
                                <i class="material-icons">search</i>
                                <input type="text" name="Search" class="header-search-input" placeholder="Wyszukaj zamówienie.." ng-model="statCtrl.gtListFilterModel.searchText" ng-change="statCtrl.onGtTextChange()" style="border-bottom: 3px solid #4b85c5 !important; border-radius: 0" />
                            </div>
                        </li>
                    </ul>
                </div>

                <table class="responsive-table margin-bottom-20">
                    <thead>
                    <tr>
                        <th>Data wyjazdu</th>
                        <th>Godzina wyjazdu</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-if="statCtrl.gtListViewModel.items.length===0">
                        <td colspan="7">
                            <p>
                                <b>Brak wyjazdów dla danego przedziału czasowego.</b>
                            </p>
                        </td>
                    </tr>
                    <tr ng-repeat="gt in statCtrl.gtListViewModel.items" ng-class="gt.GtStateStyle">
                        <td>{{gt.Date}}</td>
                        <td>{{gt.Time}}</td>
                    </tr>
                    </tbody>
                </table>
                <div ng-if="statCtrl.gtListViewModel.items.length!==0">
                    <div class="row">
                        <div class="col s12 flex-align-center-container" style="justify-content: flex-start">
                            <p><b>Rozmiar strony:</b> </p><input type="number" ng-model="statCtrl.gtListFilterModel.pageSize" ng-change="statCtrl.onGtPageSizeChange()" style="width: 50px; height: 2rem;margin:0 0 5px 15px" />
                        </div>
                    </div>
                    <ul class="pagination">
                        <li class="waves-effect" ng-click="statCtrl.setGtPage(1)" ng-class="{'disabled':self.gtListFilterModel.currentPage===1}" style="padding:0">
                            <a>
                                <i class="material-icons">first_page</i>
                            </a>
                        </li>
                        <li class="waves-effect" ng-click="statCtrl.setGtPage(self.gtListFilterModel.currentPage-1)" ng-class="{'disabled':self.gtListFilterModel.currentPage===1}" style="padding:0">
                            <a>
                                <i class="material-icons">chevron_left</i>
                            </a>
                        </li>

                        <li ng-repeat="page in statCtrl.gtListViewModel.tableOfPages" ng-class="{active: statCtrl.gtListFilterModel.currentPage==page}" class="waves-effect" ng-click="statCtrl.setGtPage(page)">
                            <a>{{page}}</a>
                        </li>

                        <li class="waves-effect" ng-click="statCtrl.setGtPage(self.gtListFilterModel.currentPage+1)" ng-class="{'disabled':statCtrl.gtListViewModel.totalPages === self.gtListFilterModel.currentPage}" style="padding:0">
                            <a>
                                <i class="material-icons">chevron_right</i>
                            </a>
                        </li>
                        <li class="waves-effect" ng-click="statCtrl.setGtPage(statCtrl.gtListViewModel.totalPages)" ng-class="{'disabled':statCtrl.gtListViewModel.totalPages === self.gtListFilterModel.currentPage}" style="padding: 0">
                            <a>
                                <i class="material-icons">last_page</i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>