/* ---------------------------------------------- /*
 * Transition elsements
/* ---------------------------------------------- */

.navbar a {
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    -ms-transition: all 0.4s ease-in-out 0s;
    -o-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}

a {
    -webkit-transition: all 0.125s ease-in-out 0s;
    -moz-transition: all 0.125s ease-in-out 0s;
    -ms-transition: all 0.125s ease-in-out 0s;
    -o-transition: all 0.125s ease-in-out 0s;
    transition: all 0.125s ease-in-out 0s;
}

/* ---------------------------------------------- /*
 * Reset box-shadow
/* ---------------------------------------------- */

.navbar-custom .dropdown-menu {
    -webkit-box-shadow: none;
    box-shadow: none;
}

/* ---------------------------------------------- /*
 * General Styles
/* ---------------------------------------------- */

.smart-block {
    padding: 100px 0;
}

.smart-block-mini {
    padding: 30px 0;
}

.smart-block-gray {
    background: #f5f5f5;
}

.smart-block-white {
    background: white;
}

.smart-block-black {
    background: black;

    i {
        color: white !important;
        font-size: 60px;
    }

    h1 {
        font-size: 32px;
        color: white;
    }

    a {
        margin: 0 35px;
    }
}

.smart-block-image {
    padding: 0;
}

.smart-block-image,
.smart-block-image h1,
.smart-block-image h2,
.smart-block-image h3,
.smart-block-image h4,
.smart-block-image h5,
.smart-block-image h6 {
    color: #fff;
}

.smart-block-header {
    text-align: center;
    margin: 0 0 60px;
}

.smart-block-header-left {
    text-align: left;
}

.smart-block-header-left .smart-block-line {
    width: inherit;
    margin: 30px 0;
}

.smart-block-title {
    font-weight: 500;
}

.smart-block-subtitle {
    font-family: Titillium Web, sans-serif;
    font-style: normal;
    font-size: 18px;
}

.smart-block-line {
    background: #4b85c5;
    width: 100px;
    height: 3px;
    margin: 20px auto;
}

.smart-block-icon {
    font-size: 32px;
}

/* ---------------------------------------------- /*
 * Home
/* ---------------------------------------------- */

#home {
    background: url(../images/cover.png);
}

#system {
    background: url(../images/banner2.png);
}

#banner3 {
    background: url(../images/banner3.png);
}



#home, #system, #banner3 {
    background-color: #222;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 0;
    position: relative;

    .text {
        position: absolute;
        width: 100%;
        left: 0;
        padding: 0 15px;

        h1 {
            font-size: 70px;
        }
    }
}

#system .text {
    h1 {
        font-size: 80px;
    }

    h2 {
        font-size: 65px;
    }
}

.home-overlay {
    background-color: rgba(44, 62, 80, 0.3);
    background-image: url("../images/pattern.png");
    background-repeat: repeat;
}

#banner3 .text, #home .text, #system .text {
    top: 50%;
    -webkit-transform: translate(0%, -50%);
    -moz-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    -o-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
}


#home .text {
    text-align: center;

    h1 {
        font-weight: 600;
        font-size: 100px;
        margin: 5px 0;
    }

    .start {
        font-size: 40px;
        font-style: normal;
        text-transform: none;
        margin: 5px 0;
    }
}

#author img {
    width: 50%;
    margin: auto;
    margin-bottom: 20px;
}

.iconbox {
    background: #fff;
    text-align: center;
    padding: 40px 20px;
    margin: 0 0 20px;
}

.iconbox-icon {
    margin: 0 0 15px;
    font-size: 32px;
    color: #222;
}

.iconbox-title {
    margin: 0 0 15px;
    padding: 0;
    font-size: 24px;
    font-weight: bold;
}

.iconbox-desc {
    line-height: normal;
    font-size: 14px;
}

/* ---------------------------------------------- /*
 * Footer
/* ---------------------------------------------- */

#footer {
    background: #4b85c5;
    text-align: center;
    padding: 40px 0 20px;
    color: #FFF;

    .footer-list a {
        color: white;

        &:hover {
            text-decoration: dotted;
        }
    }

    img {
        width: 20%;
        margin: auto;
    }
}

.copyright {
    margin: 0;
    text-align: left;
    font-size: 18px;
}

.social-links {
    list-style: none;
    padding: 0;
    margin: 0 0 20px;

    li {
        display: inline-block;
        margin: 5px;

        a {
            width: 48px;
            height: 48px;
            display: block;
            line-height: 46px;
            text-align: center;
            border: 1px solid rgba(255, 255, 255, 0.4);
            font-size: 30px;
            color: rgba(255, 255, 255, .2);

            & {
                border: 1px solid rgba(255, 255, 255, .5);
                color: rgba(255, 255, 255, .8);
            }
        }
    }
}

/* ---------------------------------------------- /*
 * Navigation
/* ---------------------------------------------- */

.header {
    border-bottom: 1px solid #f5f5f5;
    position: relative;
    width: 100%;
    z-index: 998;
}

.navbar-custom {
    border: 0;
    border-radius: 0;
    margin: 0;
    text-transform: uppercase;
    font-family: Titillium Web, sans-serif;
    padding-bottom: 35px;
    background: #fff;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-nav > li > a,
.navbar-custom .navbar-nav .dropdown-menu > li > a {
    font-size: 16px;
    letter-spacing: 0px;
    color: #222;
}

.navbar-custom .nav li.active,
.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus,
.navbar-custom .navbar-nav > li.active a {
    background: none;
    outline: 0;
    color: #4b85c5;
}

.navbar-custom .navbar-brand {
    font-weight: 700;
    font-size: 22px;
    font-family: Titillium Web, sans-serif;

    img {
        max-height: 55px;
        margin: 0 10px 0;
    }
}

.navbar-custom .dropdown-menu {
    border: 0;
    border-top: 2px solid #4b85c5;
    border-radius: 0;
    background: #fff;
    padding: 0;
}

.navbar-custom .dropdown-menu > li > a {
    padding: 10px 20px;
}

.navbar-custom .nav .open > a,
.navbar-custom .dropdown-menu > li > a:hover,
.navbar-custom .dropdown-menu > li > a:focus {
    background: #f5f5f5;
}

.navbar-custom .navbar-toggle .icon-bar {
    background: #222;
}


li > a.portal-link{
    font-weight: bold;
    font-size: 20px !important;
}
/* ---------------------------------------------- /*
 * Scroll to top
/* ---------------------------------------------- */

.scroll-up {
    position: fixed;
    display: none;
    z-index: 999;
    bottom: 2em;
    right: 2em;
}

.scroll-up a {
    background-color: rgba(135, 135, 135, 0.5);
    display: block;
    width: 35px;
    height: 35px;
    text-align: center;
    color: #fff;
    font-size: 15px;
    line-height: 30px;
}

.scroll-up a:hover,
.scroll-up a:active {
    background-color: rgba(235, 235, 235, .8);
    color: #4b85c5;
}

/* ---------------------------------------------- /*
 *Scroll Down
/* ---------------------------------------------- */

.scroll-down {
    position: absolute;
    left: 50%;
    bottom: 40px;
    border: 2px solid #fff;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin-left: -15px;
    display: block;
    z-index: 10;
    text-align: center;
}

.scroll-down span {
    position: relative;
    color: #fff;
    -webkit-animation-name: drop;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 0s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-play-state: running;
    animation-name: drop;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-play-state: running;
}

@-webkit-keyframes drop {
    0% {
        top: 0px;
        opacity: 0;
    }

    30% {
        top: 10px;
        opacity: 1;
    }

    100% {
        top: 25px;
        opacity: 0;
    }
}

@keyframes drop {
    0% {
        top: 0px;
        opacity: 0;
    }

    30% {
        top: 10px;
        opacity: 1;
    }

    100% {
        top: 25px;
        opacity: 0;
    }
}

/* ---------------------------------------------- /*
 * Preloader
/* ---------------------------------------------- */

#preloader {
    background: #FFF;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9999;
}

#status {
    background-image: url(../images/preloader.gif);
    background-position: center;
    background-repeat: no-repeat;
    height: 200px;
    left: 50%;
    margin: -100px 0 0 -100px;
    position: absolute;
    top: 50%;
    width: 200px;
}

#author {
    padding-bottom: 130px;
}
/* ---------------------------------------------- /*
 * Media
/* ---------------------------------------------- */



@media(max-width: 968px) {
    #author {
        padding-bottom: 70px;
    }

    .author-box {
        margin-bottom: 30px;
    }

    #home, #system, #banner3 {
        .text h1 {
            font-size: 56px;
        }
    }

    #home .text {
        h1 {
            font-weight: 600;
            font-size: 70px;
        }

        .start {
            font-size: 35px;
        }
    }

    #system .text {
        h1 {
            font-size: 65px;
        }

        h2 {
            font-size: 45px;
        }
    }

    #application .col-xs-12.col-md-6 {
        text-align: center !important;

        h1 {
            font-size: 22px;
            margin-bottom: 25px;
        }
    }

    .smart-block-black i {
        font-size: 36px;
    }
}

@media (max-width: 767px) {
    .navbar-custom .navbar-brand img {
        max-height: 55px;
        margin: 0 2px;
    }

    .navbar-collapse {
        margin-top: 15px;
    }

    #home, #system, #banner3 {
        .text h1 {
            font-size: 24px;
        }
    }

    #home .text {
        h1 {
            font-weight: 600;
            font-size: 45px;
        }

        .start {
            font-size: 28px;
        }
    }

    #system .text {
        h1 {
            font-size: 42px;
        }

        h2 {
            font-size: 34px;
        }
    }

    #footer img {
        width: 40%;
        margin: auto;
    }
}

.row-timeline > div, .row-timeline > h4 {
    padding: 0 !important;
}



@media (max-width: 560px) {

    .row-timeline h4 {
        font-size: 12px;
    }
}


