img {
    height: auto;
    max-width: 100%;
}

img.auto {
    margin:auto
}

.body-content {
    padding: 40px 20px;
}

.nav-wrapper .brand-logo img {
    height: 54px;
    padding-left: 25px;
}

nav li a, .button-collapse i, a.brand-logo {
    color: #1976d2
}

.nav-wrapper {
    padding-left: 50px;
    padding-right: 50px;
}


body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  .padding-10-5-nobottom {
      padding: 5% 10% 0;
  }